body{
	margin-top: 70px;
}
.ui.menu {
	font-family: 'Source Code Pro', monospace;
}
h1 a,h1,.ui.header {
    color: #FCA205;
    font-family: 'Lobster', cursive;
}
h1 a:hover{
    color: #0f0f0f;
    font-family: 'Lobster', cursive;
};
p{
	font-family: 'Source Code Pro', monospace;
}
.publish {
	font-weight: bold;
	font-family: 'Source Code Pro', monospace;
}